<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
    <listeners>
        <listener class-name="org.example.listeners.Listener"/>
    </listeners>
    <test name="BestBuyProduct">
        <groups>
            <run>
                <include name="ProductTestCases"/>
            </run>
        </groups>
        <packages>
            <package name="org.example.tests"/>
        </packages>
    </test>
</suite>